*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
h1,h2,h3{
    font-family:'Manrope',sans-serif;
    font-style: normal;
}
ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    min-width: 1200px;
}
.container{
    width: 1200px;
    margin: 0 auto;}

.background-color{
    background-color: #0A2640;
}
.header{
    .background-color{
        .background-image{
            width: 900px;
            height: 560px;
            position: absolute;
            right: 0px;
            top: 0px;
            overflow: hidden;
            opacity: 30%;
        }
    }
    .header-container{
        position: relative;
        
            .header-container__row{

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 56px 0 64px 0;
                .header-container__logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .header-container__logo--image{
                        width: 25.91px;
                        height: 33.16px;
                        padding-right: 11.27px;
                    }
                    .header-container__logo--title{
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 34px;

                        display: flex;
                        align-items: center;
                    }
                }
                .header-container__navigation{
                    width: 419px;
                    ul{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        a{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 28px;
                            text-decoration: none;
                            &:visited{
                                color: #FFFFFF;
                            }
                            div{
                                width: 128px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #0A2640;
                                background: #FFFFFF;
                                border: 2px solid #FFFFFF;
                                border-radius: 24px;
                            }
                        }
                        
                    }

                }
            }
        
    }
}

.boldo{
    .boldo-container{
        .background-color{
            .container{
                .boldo-container__row{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 56px;
                    .boldo-container__text{
                        max-width: 567px;
                        padding: 56.5px 0;
                        .boldo-container__title{
                            height: 138px;
                            font-size: 33px;
                            line-height: 72px;
                            padding-bottom: 16px;
                        }
                        .boldo-container__subtitle{
                            font-size: 16px;
                            line-height: 28px;
                            color: #F1F1F1;
                            padding-bottom: 40px;
                        }
                        .boldo-container__links{
                            display: flex;
                            a{
                                border-radius: 56px;
                                height: 60px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;

                                font-weight: 700;
                                font-size: 20px;
                                line-height: 28px;
                            }
                            a:first-child{
                                width: 247px;
                                background-color:#65E4A3;
                                border: 2px solid #69E6A6;  
                                margin-right: 24px;
                                color:  #0A2640;;
                                &:visited{
                                    color:  #0A2640;;
                                }
                            }
                            a:last-child{
                                width: 187px;
                                background-color: #0A2640;
                                border: 2px solid #FFFFFF;
                                color:  #fff;
                                &:visited{
                                    color:  #fff;
                                }
                            }
                        }
                    }
                    
                    .boldo-container__schedule{
                        width: 495px;
                        img.image__first-item{
                            display: block;
                            padding-bottom: 25.77px;
                        }
                        .boldo-container__image--row{
                            display: flex;
                            justify-content: space-between;
                            img{
                                height: 165.34px;
                            }
                            img:first-child{
                                width: 192.18px;
                            }
                            img:last-child{
                                width: 262px;
                                
                            }
                        }
                        
                        
                    }
                }
                .image__logo-wall{
                    width: 1173px;
                    margin: 0 auto;
                    padding-bottom: 64px;
                }
            }
        }
    }
}