* {
		padding: 0;
		margin: 0;
}
* div {
		margin: 0;
		padding: 0;
}

.container {
		max-width: 1200px;
		margin: 0 auto;
}

.template {
		background-color: #0A2640;
		position: relative;
		z-index: 1;
		overflow: hidden;
}
.template-container .template-circle {
		position: absolute;
		width: 1294px;
		height: 1294px;
		border-radius: 100%;
		background-color: #1C3D5B;
		right: -600px;
		top: -760px;
		z-index: 2;
		opacity: 0.6;
}
.template-container .header {
		position: relative;
		z-index: 3;
		height: 42px;
		padding-top: 56px;
		padding-bottom: 64px;
}
.template-container .header-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
}
.template-container .header-row .header-logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.template-container .header-row .header-logo__text {
		font-family: "Manrope", "Helvetica Neue", sans-serif;
		padding-left: 12px;
		font-weight: 700;
		font-size: 43.25px;
		line-height: 34px;
		color: #FFFFFF;
}
.template-container .header-row .header-navigation ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.template-container .header-row .header-navigation ul a {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		display: block;
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #FFFFFF;
		text-decoration: none;
}
.template-container .header-row .header-navigation ul a:visited {
		color: #FFFFFF;
}
.template-container .header-row .header-navigation ul li {
		list-style: none;
}
.template-container .header-row .header-navigation ul li + li {
		padding-left: 40px;
}
.template-container .header-row .header-navigation .log-in {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 128px;
		height: 40px;
		background: #FFFFFF;
		border: 2px solid #FFFFFF;
		border-radius: 24px;
		padding: 0;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		color: #0A2640;
}
.template-container .boldo-row {
		position: relative;
		z-index: 4;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding-bottom: 56px;
}
.template-container .boldo-row-building {
		max-width: 48%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.template-container .boldo-row-building__title {
		padding-bottom: 16px;
}
.template-container .boldo-row-building__title h1 {
		font-family: "Manrope", "Helvetica Neue", sans-serif;
		font-size: 48px;
		line-height: 72px;
		color: #FFFFFF;
}
.template-container .boldo-row-building__text {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-size: 16px;
		line-height: 28px;
		color: #F1F1F1;
		padding-bottom: 40px;
}
.template-container .boldo-row-building__buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.template-container .boldo-row-building__buttons a {
		text-decoration: none;
}
.template-container .boldo-row-building__buttons .button-template {
		font-family: "Manrope", "Helvetica Neue", sans-serif;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 247px;
		height: 60px;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #0A2640;
		background: #65E4A3;
		border: 2px solid #69E6A6;
		border-radius: 56px;
}
.template-container .boldo-row-building__buttons .button-template a:visited {
		color: #0A2640;
}
.template-container .boldo-row-building__buttons .button-explore {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 24px;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #FFFFFF;
		width: 187px;
		height: 60px;
		border: 2px solid #FFFFFF;
		border-radius: 56px;
}
.template-container .boldo-row-building__buttons .button-explore a:visited {
		color: #FFFFFF;
}
.template-container .boldo-row-grafics {
		max-width: 42%;
}
.template-container .boldo-row-grafics .boldo__first-grafic {
		width: 100%;
		padding-bottom: 26px;
}
.template-container .boldo-row-grafics .grafics-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
}
.template-container .boldo-row-grafics .grafics-row .boldo__second-grafic {
		max-width: 38%;
}
.template-container .boldo-row-grafics .grafics-row .boldo__third-grafic {
		max-width: 52%;
		margin-left: 40px;
}
.template-container .boldo-image {
		max-width: 1173px;
		margin: 0 auto;
		padding-bottom: 64px;
}
.template-container .boldo-image img {
		display: block;
}

.service {
		padding-top: 82px;
}
.service-container-title {
		margin: 0 auto;
		padding-bottom: 80px;
		text-align: center;
		max-width: 842px;
}
.service-container-title__service {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-size: 20px;
		line-height: 32px;
		color: #777777;
		padding-bottom: 12px;
}
.service-container-title__text h2 {
		font-family: "Manrope", "Helvetica Neue", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 72px;
		color: #000000;
}
.service-container-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-bottom: 185px;
}
.service-container-row__item {
		max-width: 300px;
}
.service-container-row__item-image {
		padding-bottom: 24px;
}
.service-container-row__item-title {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
		padding-bottom: 12px;
}
.service-container-row__item-subtitle {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-size: 20px;
		line-height: 32px;
		color: #777777;
		padding-bottom: 28px;
}
.service-container-row__item-link {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-weight: 700;
		font-size: 20px;
		line-height: 36px;
		display: inline-block;
		padding-bottom: 8px;
		border-bottom: 1px solid #0A2640;
}
.service-container-row__item-link .expole-page {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.service-container-row__item-link .expole-page span {
		padding-left: 12px;
}
.service-container-row__item-link .expole-page span img {
		display: block;
}
.service-container-row__item-link a {
		color: #0A2640;
		text-decoration: none;
}
.service-container-row__item-link a a:visited {
		color: #0A2640;
}

.connect-container-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-bottom: 224px;
}
.connect-container-row-images {
		position: relative;
		max-width: 494px;
}
.connect-container-row-images .connect-second-image {
		position: absolute;
		right: 25px;
		top: 190px;
}
.connect-container-row-images .connect-second-image img {
		max-width: 251px;
		display: block;
}
.connect-container-row-element {
		max-width: 494px;
}
.connect-container-row-element__title {
		padding-bottom: 40px;
}
.connect-container-row-element__title h2 {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-size: 36px;
		font-weight: 400;
		line-height: 56px;
		color: #000000;
}
.connect-container-row-element__points {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-size: 20px;
		line-height: 32px;
		color: #000000;
}
.connect-container-row-element__points ul li + li {
		padding-top: 24px;
}
.connect-container-row-element__points ul li:last-of-type {
		padding-bottom: 56px;
}
.connect-container-row-element__points ul li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		list-style: none;
}
.connect-container-row-element__points ul li::before {
		content: url("/img/index/Group 210.png");
		height: 36px;
		padding-right: 27px;
}
.connect-container-row-element__button {
		width: 210px;
		height: 60px;
		background: #0A2640;
		border: 2px solid #0A2640;
		border-radius: 56px;
}
.connect-container-row-element__button a {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-decoration: none;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #FFFFFF;
}
.connect-container-row-element__button a:visited {
		color: #FFFFFF;
}

.help-container-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 289px;
}
.help-container-row-images {
		max-width: 444px;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		position: relative;
}
.help-container-row-images .help-second-image {
		position: absolute;
		bottom: -201px;
		left: 16px;
}
.help-container-row-element {
		max-width: 500px;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
}
.help-container-row-element__title {
		padding-bottom: 64px;
}
.help-container-row-element__title h2 {
		font-family: "Manrope", "Helvetica Neue", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 56px;
}
.help-container-row-element__points ul li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		max-width: 100%;
		height: 68px;
		background: #FFFFFF;
		-webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
		        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #000000;
}
.help-container-row-element__points ul .active {
		font-family: "Open Sans", "Helvetica Neue", sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #FFFFFF;
}
.help-container-row-element__points ul li + li {
		margin-top: 24px;
}
.help-container-row-element__points ul li:last-child {
		margin-bottom: 0;
}
.help-container-row-element__points ul li:first-child, .help-container-row-element__points ul li:nth-child(2), .help-container-row-element__points ul li:last-child {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.help-container-row-element__points ul li:first-child::before, .help-container-row-element__points ul li:nth-child(2)::before, .help-container-row-element__points ul li:last-child::before {
		width: 28px;
		height: 28px;
		padding-right: 12px;
		padding-left: 20px;
}
.help-container-row-element__points ul li:first-child {
		background-color: #0A2640;
}
.help-container-row-element__points ul li:first-child::before {
		content: url("/img/index/feather.png");
}
.help-container-row-element__points ul li:nth-child(2)::before {
		content: url("/img/index/eye.png");
}
.help-container-row-element__points ul li:last-child::before {
		content: url("/img/index/sun.png");
}