*{
    padding: 0;
    margin: 0;
    div{
        margin:0;
        padding: 0;
    }
}

//---  mixins  ---//
@mixin font-main{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin font-secondary{
    font-family:'Manrope', 'Helvetica Neue', sans-serif;
}
//---  /mixins  ---//
$main-color:#0A2640;






//---  common  ---//
.container{
    max-width: 1200px;
    margin:0 auto;
}
//---  template  ---//
.template{
    background-color: $main-color;
    &-container{
        .header{
            height: 42px;
            padding-top: 56px;
            padding-bottom: 64px;
            &-row{
                display: flex;
                justify-content: space-between;
                
                .header-logo{
                    display: flex;
                    align-items: center;
                    &__text{
                        @include font-secondary;

                        padding-left: 12px;
                        font-weight: 700;
                        font-size: 43.25px;
                        line-height: 34px;
                        color: #FFFFFF;
                        }
                }
                .header-navigation{
                    ul{
                        display: flex;
                        align-items: center;
                            a{
                                @include font-main;

                                display: block;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 28px;
                                color: #FFFFFF;
                                text-decoration: none;
                                &:visited{
                                    color: #FFFFFF;
                                }
                            }
                            li{
                                list-style: none;
                            }
                            li+li{
                                padding-left: 40px;
                            }   
                            }
                            .log-in{
                                display: flex;
                                width: 128px;
                                height: 40px;
                                background: #FFFFFF;
                                border: 2px solid #FFFFFF;
                                border-radius: 24px;
                                padding: 0;
                                justify-content: center;
                                align-items: center;  
                                color: $main-color;
                            }
                    }
                }
            }
        .boldo{
            &-row{
                display: flex;
                justify-content: space-between;
                padding-bottom:56px ;
                &-building{
                    max-width: 47%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &__title{
                        @include font-secondary;
                        font-size: 48px;
                        line-height: 72px;
                        color: #FFFFFF;
                        padding-bottom: 16px;
                    }
                    &__text{
                        @include font-main;
                        font-size: 16px;
                        line-height: 28px;
                        color: #F1F1F1;
                        padding-bottom: 40px;
                    }
                    &__buttons{
                        display: flex;
                        a{
                            text-decoration: none;
                        }
                        .button-template{
                            @include font-secondary;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            width: 247px;
                            height: 60px;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 28px;
                            color: $main-color;
                            background: #65E4A3;
                            border: 2px solid #69E6A6;
                            border-radius: 56px;
                            a:visited{
                                color: $main-color;
                            }
                        }
                        .button-explore{
                            @include font-main;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            margin-left: 24px;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 28px;
                            color: #FFFFFF;
                            width: 187px;
                            height: 60px;
                            border: 2px solid #FFFFFF;
                            border-radius: 56px;
                            a{

                            }
                            a:visited{
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                &-grafics{
                    max-width: 42%;
                    .boldo__first-grafic{
                        width: 100%;
                        padding-bottom: 26px;
                    }
                    .grafics-row{
                        display: flex;
                        justify-content: space-between;
                        .boldo__second-grafic{
                            max-width: 38%;
                        }
                        .boldo__third-grafic{
                            max-width: 52%;
                            margin-left: 40px;
                        }
                    }
                    
                }
            }
            &-image{
                max-width: 1173px;
                margin: 0 auto;
                padding-bottom: 64px;
                img{
                    display: block;
                }
            }
        }
    }
}
//---  /template  ---//