* {
  padding: 0;
  margin: 0;
}
* div {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.section-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.category-and-date {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.category-and-date .category {
  padding-right: 12px;
  font-weight: 700;
  color: #0a2640;
}
.category-and-date .data {
  color: #777777;
}

.autor-name {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.template-container {
  background: #0a2640;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: relative;
  z-index: 8;
  overflow: hidden;
  margin-bottom: 185px;
}
.template-container-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  height: 20px;
}
.template-container-image img {
  border-radius: 0 12px 0 0;
}
.template-container-title {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  position: relative;
  z-index: 11;
  color: #f1f1f1;
  margin: 0 auto;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 48px;
  font-size: 48px;
  line-height: 72px;
  max-width: 716px;
}
.template-container-form {
  position: relative;
  z-index: 10;
}
.template-container-form .form {
  display: flex;
  max-width: 52%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 74px;
}
.template-container-form .form__email input {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  height: 60px;
  width: 370px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 240px;
  text-indent: 32px;
}
.template-container-form .form__email input:focus {
  box-shadow: 0px 0px 10px 2px #fff;
  transition: 0.6s ease;
}
.template-container-form .form__button button {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0a2640;
  height: 60px;
  width: 210px;
  background: #65e4a3;
  border: 2px solid #65e4a3;
  border-radius: 56px;
  cursor: pointer;
}
.template-container-form .form__button button:hover {
  color: rgb(0, 255, 234);
  border-color: #602bc2;
  background-color: #602bc2;
  transition: 0.3s ease;
}
.template-container-form .form__button button:active {
  transform: translateY(3px);
  transition: 0.3s ease;
}

@media (max-width: 1185px) {
  .template-media .form {
    flex-direction: column;
    align-items: center;
  }
  .template-media .form__email input::-moz-placeholder {
    text-align: center;
    text-indent: 0px;
  }
  .template-media .form__email input::placeholder {
    text-align: center;
    text-indent: 0px;
  }
  .template-media .form__email {
    margin-bottom: 10px;
  }
}
@media (max-width: 990px) {
  .template-media .template-container-image img {
    height: 200px;
    width: 600px;
  }
  .template-media .template-container {
    overflow: hidden;
  }
}
@media (max-width: 700px) {
  .template-media .template-container-image img {
    height: 160px;
    width: 500px;
  }
}
@media (max-width: 500px) {
  .template-media .template-container-image img {
    height: 160px;
    width: 300px;
  }
}
@media (max-width: 756px) {
  .template-media .template-container-title {
    font-size: 35px;
    line-height: 55px;
  }
}
@media (max-width: 480px) {
  .template-media .template-container-title {
    font-size: 30px;
    line-height: 35px;
  }
  .template-media .template-container-form .form__email input {
    width: 210px;
  }
}

.footer {
  padding-bottom: 120px;
}
.footer-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container-row .footer-container-info {
  width: 25%;
}
.footer-container-row .footer-container-info__logo {
  padding-bottom: 40px;
  position: relative;
}
.footer-container-row .footer-container-info__logo-image .image-top {
  position: absolute;
  top: 0px;
}
.footer-container-row .footer-container-info__logo-image .image-bottom {
  position: absolute;
  top: 15px;
}
.footer-container-row .footer-container-info__logo-text {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  padding-left: 36px;
  font-weight: 700;
  font-size: 43.25px;
  line-height: 34px;
  color: #0a2640;
}
.footer-container-row .footer-container-info__social, .footer-container-row .footer-container-info__rights {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777777;
  max-width: 300px;
}
.footer-container-row .footer-container-info__social {
  padding-bottom: 64px;
}
.footer-container-row .footer-container-nav {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.footer-container-row .footer-container-nav__item {
  width: 165px;
}
.footer-container-row .footer-container-nav__item-title {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  padding-bottom: 58px;
}
.footer-container-row .footer-container-nav__item-nav li {
  padding-bottom: 50px;
  list-style: none;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}
.footer-container-row .footer-container-nav__item-nav li .hiring {
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  width: 72px;
  height: 30px;
  background: #65e4a3;
  border-radius: 120px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
}
.footer-container-row .footer-container-nav__item-nav li a {
  color: #777777;
  text-decoration: none;
}
.footer-container-row .footer-container-nav__item-nav li a:visited {
  color: #777777;
}
.footer-container-row .footer-container-nav__item-nav li .links:hover {
  color: #4b4848;
  text-decoration: underline;
  transition: 0.3s ease;
}
.footer-container-row .footer-container-nav__item-nav li .links:active {
  color: #170247;
  font-weight: bold;
}
.footer-container-row .footer-container-nav__item-nav li:last-of-type {
  padding-bottom: 0;
}
@media (max-width: 1000px) {
  .footer .footer-container-row {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-container-info {
    width: 80%;
  }
  .footer .footer-container-info .footer-container-info__logo {
    margin: 0 auto;
  }
  .footer .footer-container-info .footer-container-info__social {
    padding-bottom: 30px;
    max-width: 100%;
    width: 100%;
  }
  .footer .footer-container-info .footer-container-info__rights {
    padding-bottom: 30px;
    max-width: 100%;
    width: 100%;
  }
  .footer .footer-container-nav {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .footer .footer-container-row .footer-container-info__logo-image .image-top {
    display: block;
    height: 10px;
    top: 6px;
  }
  .footer .footer-container-row .footer-container-info__logo-image .image-bottom {
    display: block;
    height: 14px;
    top: 18px;
  }
  .footer .footer-container-info {
    width: 80%;
    align-items: center;
  }
  .footer .footer-container-info__logo {
    height: 33px;
    display: flex;
    align-items: flex-end;
  }
  .footer .footer-container-info__logo-text {
    font-size: 30px;
    line-height: 25px;
  }
  .footer .footer-container-nav {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .footer .footer-container-info {
    text-align: center;
  }
  .footer .footer-container-info__logo {
    justify-content: center;
  }
  .footer .footer-container-row .footer-container-nav__item-nav li {
    padding-bottom: 30px;
  }
  .footer .footer-container-nav {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-container-nav .footer-container-nav__item .footer-container-nav__item-title {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 30px;
  }
  .footer .footer-container-nav .footer-container-nav__item .links {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }
  .footer .footer-container-nav .footer-container-nav__item + .footer-container-nav__item {
    border-top: 2px solid grey;
  }
}

.box {
  background-color: #0a2640;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box-container .box-circle {
  position: absolute;
  width: 1294px;
  height: 1294px;
  border-radius: 100%;
  background-color: #1c3d5b;
  right: -600px;
  top: -760px;
  z-index: 2;
  opacity: 0.6;
}
.box-container .header {
  position: relative;
  z-index: 3;
  height: 42px;
  padding-top: 56px;
  padding-bottom: 64px;
}
.box-container .header-row {
  display: flex;
  justify-content: space-between;
}
.box-container .header-row .header-logo,
.box-container .header-row .log-in {
  display: flex;
  align-items: center;
}
.box-container .header-row .header-logo__text {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  padding-left: 12px;
  font-weight: 700;
  font-size: 43.25px;
  line-height: 34px;
  color: #ffffff;
}
.box-container .header-row .header-navigation ul {
  display: flex;
  align-items: center;
}
.box-container .header-row .header-navigation ul a {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  transition: 1s ease;
}
.box-container .header-row .header-navigation ul a:visited {
  color: #ffffff;
}
.box-container .header-row .header-navigation ul li {
  list-style: none;
}
.box-container .header-row .header-navigation ul li + li {
  padding-left: 40px;
}
.box-container .header-row .header-navigation ul .nav__links:hover {
  color: rgb(182, 182, 182);
  transition: 0.3s ease;
}
.box-container .header-row .header-navigation .log-in {
  width: 128px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 0;
  justify-content: center;
  color: #0a2640;
}
.box-container .header-row .header-navigation .log-in:hover {
  background-color: rgb(182, 182, 182);
  transition: 0.3s ease;
}
.box-container .boldo-row {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
}
.box-container .boldo-row-building {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
}
.box-container .boldo-row-building__title {
  padding-bottom: 16px;
}
.box-container .boldo-row-building__title h1 {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-size: 48px;
  line-height: 72px;
}
.box-container .boldo-row-building__text {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #f1f1f1;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 40px;
}
.box-container .boldo-row-building__buttons {
  display: flex;
}
.box-container .boldo-row-building__buttons a {
  text-decoration: none;
}
.box-container .boldo-row-building__buttons .button-template,
.box-container .boldo-row-building__buttons .button-explore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 56px;
  font-size: 20px;
  line-height: 28px;
  height: 60px;
}
.box-container .boldo-row-building__buttons .button-template {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  width: 247px;
  color: #0a2640;
  background: #65e4a3;
  border: 2px solid #69e6a6;
}
.box-container .boldo-row-building__buttons .button-template:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #0a2640;
  transition: 0.3s ease;
}
.box-container .boldo-row-building__buttons .button-template:active {
  transform: translateY(3px);
}
.box-container .boldo-row-building__buttons .button-template a:visited {
  color: #0a2640;
}
.box-container .boldo-row-building__buttons .button-explore {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  width: 187px;
  margin-left: 24px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 56px;
}
.box-container .boldo-row-building__buttons .button-explore:hover {
  color: #0a2640;
  background: #65e4a3;
  border: 2px solid #69e6a6;
  transition: 0.3s ease;
}
.box-container .boldo-row-building__buttons .button-explore:active {
  transform: translateY(3px);
}
.box-container .boldo-row-building__buttons .button-explore a:visited {
  color: #ffffff;
}
.box-container .boldo-row-grafics .boldo__first-grafic {
  width: 100%;
  padding-bottom: 26px;
}
.box-container .boldo-row-grafics .grafics-row {
  display: flex;
  justify-content: space-between;
}
.box-container .boldo-row-grafics .grafics-row .boldo__second-grafic {
  max-width: 38%;
}
.box-container .boldo-row-grafics .grafics-row .boldo__third-grafic {
  max-width: 52%;
  margin-left: 40px;
}
.box-container .boldo-image {
  max-width: 1173px;
  margin: 0 auto;
  padding-bottom: 64px;
}
.box-container .boldo-image img {
  width: 100%;
}
@media (max-width: 1233px) {
  .box .boldo-row-building__title h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 1070px) {
  .box .box-circle {
    width: 1100px;
    height: 1100px;
  }
  .box .boldo-row-building__text {
    font-size: 19px;
    line-height: 35px;
  }
  .box .boldo-row {
    display: flex;
    flex-direction: column;
  }
  .box .boldo-row-building {
    width: 90%;
    margin: 0 auto;
  }
  .box .boldo-row-building__buttons {
    justify-content: center;
    padding-bottom: 20px;
  }
  .box .boldo-row-grafics {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .box .boldo__first-grafic img {
    max-width: 100%;
  }
  .box .boldo-image img {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .box .box-circle {
    width: 900px;
    height: 1000px;
  }
  .box .box-container .header-row .header-navigation ul li + li {
    padding: 0px;
  }
  .box .boldo {
    padding-top: 90px;
  }
  .box .header-navigation ul {
    display: flex;
    flex-direction: column;
  }
  .box .header-navigation ul li + li {
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .box .boldo-row-building__button-explore {
    margin-left: 0px;
  }
  .box .box-container .header-row .header-logo__text {
    font-size: 30px;
  }
  .box .box-container .header-row .header-navigation ul a {
    font-size: 14px;
  }
  .box .boldo-row-building__title h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .box .boldo-row-building__text {
    font-size: 16px;
    line-height: 30px;
  }
  .box .boldo-row-building__buttons {
    flex-direction: column;
    align-items: center;
  }
  .box .box-container .boldo-row-building__buttons .button-explore {
    margin-left: 0px;
    margin-top: 20px;
  }
  .box .box-container .boldo-row-grafics .grafics-row {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .box .box-container .boldo-row-grafics .grafics-row .boldo__third-grafic {
    margin-left: 0px;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    order: 2;
  }
  .box .box-container .boldo-row-grafics .grafics-row .boldo__second-grafic {
    max-width: 100%;
    width: 100%;
    order: 3;
  }
}

.connect-container-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 224px;
}
.connect-container-row-images {
  position: relative;
  margin: 0 auto;
  max-width: 494px;
}
.connect-container-row-images .connect-second-image {
  position: absolute;
  right: 25px;
  top: 190px;
}
.connect-container-row-images .connect-second-image img {
  max-width: 251px;
  display: block;
}
.connect-container-row-element {
  max-width: 494px;
}
.connect-container-row-element__title {
  padding-bottom: 40px;
}
.connect-container-row-element__title h2 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 56px;
}
.connect-container-row-element__points {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.connect-container-row-element__points ul li + li {
  padding-top: 24px;
}
.connect-container-row-element__points ul li:last-of-type {
  padding-bottom: 56px;
}
.connect-container-row-element__points ul li {
  display: flex;
  align-items: center;
  list-style: none;
}
.connect-container-row-element__points ul li::before {
  content: "";
  background: url("/src/img/index/Group 210.png");
  background-repeat: no-repeat;
  height: 36px;
  padding-right: 63px;
}
.connect-container-row-element__button {
  width: 210px;
  height: 60px;
  background: #0a2640;
  border: 2px solid #0a2640;
  border-radius: 56px;
}
.connect-container-row-element__button a {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.connect-container-row-element__button a:visited {
  color: #ffffff;
}
.connect-container-row-element__button .start-now:hover {
  color: rgb(184, 197, 3);
  transition: 0.3s ease;
}
.connect-container-row-element__button:hover {
  background-color: #33038b;
  border: 2px solid 33038b;
  transition: 0.3s ease;
}
.connect-container-row-element__button:active {
  transform: translateY(3px);
}
@media (max-width: 1070px) {
  .connect .connect-container-row {
    flex-direction: column;
    margin-bottom: 170px;
  }
  .connect .connect-container-row-images {
    margin-bottom: 110px;
  }
  .connect .connect-container-row-element {
    max-width: 80%;
  }
  .connect .connect-container-row-element .connect-container-row-element__button {
    margin: 0 auto;
  }
}
@media (max-width: 782px) {
  .connect .connect-container-row {
    margin-bottom: 120px;
  }
  .connect .connect-container-row-element__title h2 {
    font-size: 30px;
    line-height: 50px;
  }
  .connect .connect-first__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 70%;
  }
  .connect .connect-second-image {
    max-width: 100%;
    width: 50%;
    right: 70px;
    top: 130px;
  }
}
@media (max-width: 600px) {
  .connect .connect-container-row-element {
    width: 100%;
  }
  .connect .connect-container-row-element__title h2 {
    font-size: 25px;
    line-height: 40px;
  }
  .connect .connect-container-row-element__points ul li {
    font-size: 16px;
    line-height: 25px;
  }
  .connect .connect-container-row-element__points ul li::before {
    height: 22px;
    background-size: 22px 22px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-right: 40px;
  }
}
@media (max-width: 475px) {
  .connect .connect-container-row-element__title h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .connect .connect-first__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  .connect .connect-second-image {
    max-width: 100%;
    width: 70%;
    right: 0px;
    top: 130px;
  }
  .connect .connect-container-row-element__button {
    height: 50px;
    width: 170px;
  }
}

.customers-container {
  margin-bottom: 160px;
}
.customers-container .customers-main-image {
  padding-bottom: 56px;
}
.customers-container .customers-main-image img {
  width: 100%;
}
.customers-container .customers-row {
  display: flex;
  justify-content: space-between;
}
.customers-container .customers-row__title {
  max-width: 500px;
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.customers-container .customers-row__list {
  width: 500px;
}
.customers-container .customers-row__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  list-style: none;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 16px;
  margin-bottom: 32px;
}
.customers-container .customers-row__list li::after {
  content: url("/src/img/index/Group 215.png");
  max-height: 28px;
  margin-left: 10px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .customers .customers-row {
    flex-direction: column;
    align-items: center;
  }
  .customers .customers-row__title,
  .customers .customers-row__list {
    max-width: 90%;
    width: 100%;
  }
  .customers .customers-row__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 640px) {
  .customers .customers-row__title,
  .customers .customers-row__list {
    max-width: 100%;
    width: 100%;
  }
  .customers .customers-row__title {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 500px) {
  .customers .customers-row__title {
    font-size: 20px;
    line-height: 32px;
  }
  .customers .customers-container .customers-row__list li {
    font-size: 15px;
  }
}

.help-container-row {
  display: flex;
  margin-bottom: 226px;
  justify-content: space-between;
}
.help-container-row-images {
  justify-content: flex-end;
  max-width: 444px;
  order: 2;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.help-container-row-images .help-second-image {
  position: absolute;
  bottom: -150px;
  left: 16px;
}
.help-container-row-element {
  max-width: 500px;
  order: 1;
  padding-top: 107px;
}
.help-container-row-element__title {
  padding-bottom: 64px;
}
.help-container-row-element__title h2 {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.help-container-row-element__points ul li {
  display: flex;
  list-style: none;
  max-width: 100%;
  height: 68px;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.help-container-row-element__points ul .active {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.help-container-row-element__points ul li + li {
  margin-top: 24px;
}
.help-container-row-element__points ul li:last-child {
  margin-bottom: 0;
}
.help-container-row-element__points ul li:first-child,
.help-container-row-element__points ul li:nth-child(2),
.help-container-row-element__points ul li:last-child {
  align-items: center;
}
.help-container-row-element__points ul li:first-child::before,
.help-container-row-element__points ul li:nth-child(2)::before,
.help-container-row-element__points ul li:last-child::before {
  width: 28px;
  height: 28px;
  padding-right: 12px;
  padding-left: 20px;
}
.help-container-row-element__points ul li:first-child {
  background-color: #0a2640;
}
.help-container-row-element__points ul li:first-child::before {
  content: url("/src/img/index/feather.png");
}
.help-container-row-element__points ul li:nth-child(2)::before {
  content: url("/src/img/index/eye.png");
}
.help-container-row-element__points ul li:last-child::before {
  content: url("/src/img/index/sun.png");
}
@media (max-width: 1070px) {
  .help .help-container-row-element {
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
  }
  .help .help-container-row {
    flex-direction: column;
    margin-bottom: 120px;
  }
  .help .help-container-row .help-container-row-images {
    order: 1;
    margin-bottom: 100px;
  }
  .help .help-container-row .help-container-row-images .help-first__image {
    padding: 5px;
    max-width: 99%;
  }
  .help .help-container-row .help-container-row-images .help-second-image {
    max-width: 70%;
    bottom: -100px;
  }
}
@media (max-width: 700px) {
  .help .help-container-row-element__title h2 {
    font-size: 26px;
    line-height: 46px;
  }
  .help .help-container-row-element {
    max-width: 100%;
  }
}
@media (max-width: 530px) {
  .help .help-container-row-images {
    margin-bottom: 100px;
  }
  .help .help-container-row-element__title {
    padding-bottom: 30px;
  }
  .help .help-container-row-element__title h2 {
    font-size: 16px;
    line-height: 25px;
  }
  .help .help-container-row-element__points ul li {
    font-size: 14px;
  }
}

.news-container .news-title,
.news-container .news-subtitle {
  text-align: center;
  max-width: 842px;
  margin: 0 auto;
}
.news-container .news-title {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}
.news-container .news-subtitle {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  padding-bottom: 80px;
}
.news-container .news-article-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}
.news-container .news-article-row-item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.news-container .news-article-row-item .news-article-row__category-and-date {
  padding-top: 24px;
  padding-bottom: 12px;
}
.news-container .news-article-row-item .news-article-row__text {
  flex: 1 0 auto;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  padding-bottom: 20px;
}
.news-container .news-article-row-item .news-article-row__autor {
  display: flex;
  align-items: center;
  flex: 0 1;
}
.news-container .news-article-row-item .news-article-row__autor__autor-image img {
  display: block;
}
.news-container .news-article-row-item .news-article-row__autor .news-article-row__autor-name {
  padding-left: 12px;
}
.news-container .news-article-button {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  width: 220px;
  height: 60px;
  border: 2px solid #0a2640;
  border-radius: 56px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 125px;
}
.news-container .news-article-button a {
  color: #0a2640;
  display: flex;
  text-decoration: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.news-container .news-article-button a:visited {
  color: #0a2640;
}
.news-container .news-article-button:hover {
  border-color: #000000;
  background-color: #000000;
  transition: 0.3s ease;
}
.news-container .news-article-button:hover a {
  color: white;
}
.news-container .news-article-button:active {
  transform: translateY(3px);
  transition: 0.3s ease;
}
@media (max-width: 980px) {
  .news .news-article-row {
    flex-direction: column;
    align-items: center;
  }
  .news .news-article-row-item {
    max-width: 400px;
    width: 100%;
  }
  .news .news-article-row-item + .news-article-row-item {
    margin-top: 50px;
  }
  .news .news-article-row__img img {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .news .news-subtitle {
    font-size: 35px;
    line-height: 50px;
  }
}
@media (max-width: 390px) {
  .news .news-subtitle {
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 40px;
  }
}

.ramp {
  background-color: #0a2640;
}
.ramp-container {
  padding: 96px 0;
  margin-bottom: 121px;
}
.ramp-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 72px;
}
.ramp-container-wrapper .ramp-container-title {
  max-width: 720px;
}
.ramp-container-wrapper .ramp-container-title h2 {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
.ramp-container-wrapper .ramp-container-buttons {
  display: flex;
}
.ramp-container-wrapper .ramp-container-buttons .ramp__first-button {
  margin-right: 28px;
  cursor: pointer;
}
.ramp-container-wrapper .ramp-container-buttons .ramp__second-button {
  cursor: pointer;
}
.ramp-container-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ramp-container-row .ramp-container-item {
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  max-width: 350px;
  padding: 40px;
  display: inline-block;
}
.ramp-container-row .ramp-container-item__topic {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 270px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 40px;
}
.ramp-container-row .ramp-container-item-autor {
  max-height: 58px;
  display: flex;
}
.ramp-container-row .ramp-container-item-autor__icon {
  padding-right: 16px;
}
.ramp-container-row .ramp-container-item-autor__name {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #0a2640;
  padding-bottom: 8px;
}
.ramp-container-row .ramp-container-item-autor__email {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.ramp-container-row .ramp-container-item-autor__email a {
  text-decoration: none;
  font-size: 14px;
  color: #0a2640;
}
.ramp-container-row .ramp-container-item-autor__email a:visited {
  color: #0a2640;
}
@media (max-width: 1100px) {
  .ramp .ramp-container-wrapper {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .ramp .ramp-container-row {
    flex-direction: column;
    align-items: center;
  }
  .ramp .ramp-container-buttons {
    display: none;
  }
  .ramp .ramp-container-item + .ramp-container-item {
    margin-top: 10px;
  }
}
@media (max-width: 760px) {
  .ramp .ramp-container-wrapper .ramp-container-title h2 {
    font-size: 30px;
    line-height: 55px;
  }
}
@media (max-width: 400px) {
  .ramp .ramp-container-item__topic {
    font-size: 20px;
    line-height: 28px;
  }
  .ramp .ramp-container-item-autor__icon img {
    width: 40px;
  }
  .ramp .ramp-container-row .ramp-container-item-autor__email a {
    font-size: 14px;
  }
  .ramp .ramp-container-row .ramp-container-item-autor__name {
    font-size: 15px;
  }
}

.service-container-title {
  padding-top: 82px;
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: center;
  max-width: 842px;
}
.service-container-title__service {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  padding-bottom: 12px;
}
.service-container-title__text h2 {
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}
.service-container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 185px;
}
.service-container-row__item {
  max-width: 300px;
}
.service-container-row__item-image {
  padding-bottom: 24px;
  cursor: pointer;
}
.service-container-row__item-title {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 12px;
}
.service-container-row__item-subtitle {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  padding-bottom: 28px;
}
.service-container-row__item-link {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 1px solid #0a2640;
}
.service-container-row__item-link .expole-page {
  display: flex;
  align-items: center;
}
.service-container-row__item-link .expole-page:hover {
  color: #4081b9;
}
.service-container-row__item-link .expole-page:active {
  transform: translateY(3px);
  transition: 0.3s ease;
}
.service-container-row__item-link .expole-page span {
  padding-left: 12px;
}
.service-container-row__item-link .expole-page span img {
  display: block;
}
.service-container-row__item-link .expole-page span img:hover {
  color: wheat;
}
.service-container-row__item-link a {
  color: #0a2640;
  text-decoration: none;
}
.service-container-row__item-link a:hover {
  color: #061a2c;
}
.service-container-row__item-link a a:visited {
  color: #0a2640;
}
@media (max-width: 1000px) {
  .service .service-container-row {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .service .service-container-row__item {
    max-width: 40%;
    margin-bottom: 50px;
  }
  .service .service-container-row__item img {
    width: 100%;
  }
}
@media (max-width: 722px) {
  .service .service-container-title__text h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .service .service-container-row__item {
    margin-top: -40px;
    margin-bottom: 100px;
    max-width: 350px;
  }
  .service .service-container-row__item img {
    max-width: 350px;
  }
  .service .service-container-row__item:last-child {
    margin-bottom: 20px;
  }
}

.template-container {
  background: #0a2640;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: relative;
  z-index: 8;
  margin-bottom: 185px;
}
.template-container-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
.template-container-image img {
  overflow: hidden;
  border-radius: 0 12px 0 0;
}
.template-container-title {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Manrope", "Helvetica Neue", sans-serif;
  position: relative;
  z-index: 11;
  color: #f1f1f1;
  margin: 0 auto;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 48px;
  font-size: 48px;
  line-height: 72px;
  max-width: 716px;
}
.template-container-form {
  position: relative;
  z-index: 10;
}
.template-container-form .form {
  display: flex;
  max-width: 52%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 74px;
}
.template-container-form .form__email input {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  height: 60px;
  width: 370px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 240px;
  text-indent: 32px;
}
.template-container-form .form__email input:focus {
  box-shadow: 0px 0px 10px 2px #fff;
  transition: 0.6s ease;
}
.template-container-form .form__button button {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0a2640;
  height: 60px;
  width: 210px;
  background: #65e4a3;
  border: 2px solid #65e4a3;
  border-radius: 56px;
  cursor: pointer;
}
.template-container-form .form__button button:hover {
  color: rgb(0, 255, 234);
  border-color: #602bc2;
  background-color: #602bc2;
  transition: 0.3s ease;
}
.template-container-form .form__button button:active {
  transform: translateY(3px);
  transition: 0.3s ease;
}
@media (max-width: 1185px) {
  .template .form {
    flex-direction: column;
    align-items: center;
  }
  .template .form__email input::-moz-placeholder {
    text-align: center;
    text-indent: 0px;
  }
  .template .form__email input::placeholder {
    text-align: center;
    text-indent: 0px;
  }
  .template .form__email {
    margin-bottom: 10px;
  }
}
@media (max-width: 990px) {
  .template .template-container-image {
    width: 500px;
    height: 500px;
  }
  .template .template-container {
    overflow: hidden;
  }
}
@media (max-width: 756px) {
  .template .template-container-title {
    font-size: 35px;
    line-height: 55px;
  }
}
@media (max-width: 480px) {
  .template .template-container-title {
    font-size: 30px;
    line-height: 35px;
  }
  .template .template-container-form .form__email input {
    width: 210px;
  }
}