*{
    padding: 0;
    margin: 0;
    div{
        margin:0;
        padding: 0;
    }
}

//---  mixins  ---//
@mixin font-main{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin font-secondary{
    font-family:'Manrope', 'Helvetica Neue', sans-serif;
}
//---  /mixins  ---//
//---  variables ---//
$main-color:#0A2640;

$screen-sm:576px;
$screen-md:768px;
$screen-lg:992px;
$screen-xl:1200px;

$screen-sm-max:767px;
$screen-md-max:991px;
$screen-lg-max:1199px;

//---  /variables ---//




//---  common  ---//
.section-inner{
padding-left: 20px;
padding-right: 20px;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
.category-and-date{
    @include font-main;
        .category{
            padding-right:12px; 
            font-weight: 700;
            color:$main-color;
        }
        .data{
            color: #777777;
        }
   }
.autor-name{
    @include font-main;
    font-size: 16px;
    line-height: 28px;
}


//---  box  ---//
.box{
    background-color: $main-color;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &-container{

        .box-circle{
            position: absolute;
            width: 1294px;
            height: 1294px;
            border-radius: 100%;
            background-color: #1C3D5B;
            right: -600px;
            top: -760px;
            z-index: 2;
            opacity: 0.6;
        }
        .header{
            position: relative;
            z-index: 3;
            height: 42px;
            padding-top: 56px;
            padding-bottom: 64px;
            &-row{
                
                display: flex;
                justify-content: space-between;
                
                .header-logo{
                    display: flex;
                    align-items: center;
                    &__text{
                        @include font-secondary;

                        padding-left: 12px;
                        font-weight: 700;
                        font-size: 43.25px;
                        line-height: 34px;
                        color: #FFFFFF;
                        }
                }
                .header-navigation{
                    ul{
                        display: flex;
                        align-items: center;
                            a{
                                @include font-main;

                                display: block;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 28px;
                                color: #FFFFFF;
                                text-decoration: none;
                                &:visited{
                                    color: #FFFFFF;
                                }
                            }
                            li{
                                list-style: none;
                            }
                            li+li{
                                padding-left: 40px;
                            }   
                            }
                            .log-in{
                                display: flex;
                                width: 128px;
                                height: 40px;
                                background: #FFFFFF;
                                border: 2px solid #FFFFFF;
                                border-radius: 24px;
                                padding: 0;
                                justify-content: center;
                                align-items: center;  
                                color: $main-color;
                            }
                    }
                }
            }
        .boldo{
            &-row{
                position: relative;
                z-index: 4;
                display: flex;
                &-building{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &__title{
                        h1{
                            @include font-secondary;
                            color: #FFFFFF;
                        }
                    }
                    &__text{
                        @include font-main;
                        color: #F1F1F1;
                    }
                    &__buttons{
                        display: flex;
                        a{
                            text-decoration: none;
                        }
                        .button-template{
                            @include font-secondary;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            font-weight: 700;
                            color: $main-color;
                            background: #65E4A3;
                            border: 2px solid #69E6A6;
                            border-radius: 56px;
                            a:visited{
                                color: $main-color;
                            }
                        }
                        .button-explore{
                            @include font-main;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            font-size: 20px;
                            line-height: 28px;

                            width: 187px;
                            height: 60px;

                            font-weight: 700;
                            margin-left: 24px;
                            color: #FFFFFF;
                            border: 2px solid #FFFFFF;
                            border-radius: 56px;
                            a:visited{
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                &-grafics{
                    .boldo__first-grafic{
                        width: 100%;
                        padding-bottom: 26px;
                    }
                    .grafics-row{
                        display: flex;
                        justify-content: space-between;
                        .boldo__second-grafic{
                            max-width: 38%;
                        }
                        .boldo__third-grafic{
                            max-width: 52%;
                            margin-left: 40px;
                        }
                    }
                    
                }
            }
            
            &-image{

                max-width: 1173px;
                margin: 0 auto;
                padding-bottom: 64px;
                img{
                    width: 100%;
                }
            }

            @media (max-width:$screen-md-max){
                .boldo-row{
                    margin: 0 auto;
                    max-width: 70%;
                    flex-direction: column;
                    .boldo-row-building{
                        text-align: center;
                        width: 100%;

                        .boldo-row-building__title{
                            h1{
                                font-size: 40px;
                                line-height: 40px;
                            }
                            padding-bottom: 16px;
                        }
                        .boldo-row-building__text{
                            font-size: 20px;
                            line-height: 28px;
                            padding-bottom: 30px;
                        }
                        .boldo-row-building__buttons{
                            justify-content: center;
                            padding-bottom: 40px;
                            .button-template{
                                width: 200px;
                                height: 50px;
                                font-size: 18px;
                                line-height: 22px;
                            }
                            .button-explore{
                                font-size: 18px;
                                line-height: 22px;
                                width: 150px;
                                height: 50px;
                            }
                        }
                    }
                    .boldo-row-grafics{
                        max-width: 70%;
                        margin: 0 auto;
                    }
                }
            }
            @media (min-width:$screen-lg){
                .boldo-row{
                    justify-content: space-between;
                    padding-bottom:56px ;
                    .boldo-row-building,.boldo-row-grafics{
                        max-width: 48%;
                    }
                    .boldo-row-building__title{
                        h1{
                            font-size: 48px;
                            line-height: 60px;
                        }
                        padding-bottom: 16px;
                    }
                    .boldo-row-building__text{
                        font-size: 16px;
                        line-height: 28px;
                        padding-bottom: 40px;
                    }
                    .boldo-row-building__buttons{
                        .button-template{
                            width: 247px;
                            height: 60px;
                            font-size: 20px;
                            line-height: 28px;
                        }
                        .button-explore{
                            font-size: 20px;
                            line-height: 28px;
                            width: 187px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}
//---  /box  ---//

//---  service  ---//
.service{
    
    &-container{
        &-title{
            padding-top: 82px;
            margin: 0 auto;
            padding-bottom: 80px;
            text-align: center;
            max-width: 842px;
            &__service{
                @include font-main;
                font-size: 20px;
                line-height: 32px;
                color: #777777;
                padding-bottom: 12px;
            }
            &__text{
                h2{
                    @include font-secondary;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 72px;
                    color: #000000;
                }

            }
        }
        &-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 185px;
            &__item{
                max-width: 300px;
                &-image{
                    padding-bottom: 24px;
                }
                &-title{
                    @include font-main;
                    
                    font-size: 24px;
                    line-height: 36px;
                    color: #000000;
                    padding-bottom: 12px;
                }
                &-subtitle{
                    @include font-main;
                    font-size: 20px;
                    line-height: 32px;
                    color: #777777;
                    padding-bottom: 28px;
                }
                &-link{
                    @include font-main;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 36px;
                    display: inline-block;
                    padding-bottom: 8px;
                    border-bottom: 1px solid $main-color;
                    .expole-page{
                        span{
                            padding-left: 12px;
                            img{
                                display: block;
                            }
                        }
                        display: flex;
                        align-items: center;
                    }
                    a{
                        color: $main-color;
                        text-decoration: none;
                        a:visited{
                         color:$main-color;
                        }
                        
                    }
                }

            }
        }
    }
    @media (max-width:$screen-md-max){
        .service-container-row{
            flex-direction: column;
            &__item{
                max-width: 100%;
                margin:0 auto;
                padding-bottom: 70px;
                text-align: center;
                &-image{
                    img{
                        width: 100%;
                    }
                }

            }
            padding-bottom: 70px;
        }
    }
    @media (min-width:$screen-xl){
    }
}
//---  /service  ---//

//---  connect  ---//
.connect{
    &-container{
        &-row{
            display: flex;
            align-items: center;
            &-images{
                position: relative;
                .connect-second-image{
                    position: absolute;
                    right: 25px;
                    top:190px;
                    img{
                        max-width: 251px;
                        display: block;
                    }
                }
                max-width: 494px;
            }
            &-element{
                max-width: 494px;
                &__title{
                    h2{
                        @include font-main;
                        font-weight: 400;
                        color: #000000;
                        font-size: 36px;
                        line-height: 56px;
                    }
                    padding-bottom: 40px;
                }
                &__points{
                    @include font-main;
                    font-size: 20px;
                    line-height: 32px;
                    color: #000000;
                    ul{
                        li+li{
                            padding-top: 24px;
                        }
                        li:last-of-type{
                            padding-bottom: 56px;
                        }
                        li{
                            display: flex;
                            align-items: center;
                            list-style: none;
                        }
                        li::before{
                            content: url('/img/index/Group\ 210.png');
                            height: 36px;
                            padding-right: 27px;
                        }
                    }
                    
                }
                &__button{
                    width: 210px;
                    height: 60px;
                    background: $main-color;
                    border: 2px solid $main-color;
                    border-radius: 56px;
                    a{
                        @include font-main;

                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        text-decoration: none;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
                        color: #FFFFFF;
                        &:visited{
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        @media (max-width:$screen-md-max) {
            &-row{
                &-element{
                    &__title{
                        h2{
                            font-size: 30px;
                            line-height: 38px;

                        }
                    }
                    &__button{
                        margin: 0 auto;
                    }
                }
                
                flex-direction: column;
                &-images,&-element{
                    margin: 0 auto;
                    max-width: 700px;
                }
                &-images{
                    padding-bottom: 120px;
                }
                padding-bottom: 120px;
                
            }
        }
        @media (min-width:$screen-lg){
            &-row{
                flex-direction: row;
                justify-content: space-between; 

                &-element{
                    padding-left: 15px;
                }
                padding-bottom: 224px;
            }  
        }

    } 
}
//---  /connect  ---//

//---  help  ---//
.help{
    &-container{
        &-row{
            display: flex;
            align-items: center;
            &-images{
                max-width: 444px;
                order: 2;
                position: relative;
                .help-second-image{
                    position: absolute;
                    bottom: -201px;
                    left: 16px;
                }
            }
            &-element{
                max-width: 500px;
                order:1;
                &__title{
                    h2{
                        @include font-secondary;
                        font-style: normal;
                        font-weight: 400;
                    }
                    padding-bottom: 64px;
                }
                &__points{
                    ul{
                        li{
                            display: flex;
                            list-style: none;
                            max-width: 100%;
                            height: 68px;
                            background: #FFFFFF;
                            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
                            border-radius: 4px;
                            
                            @include font-main;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 28px;
                            color: #000000;
                        }
                        .active{
                            @include font-main;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 28px;
                            color: #FFFFFF;
                        }
                        li+li{
                            margin-top: 24px;
                        }
                        li:last-child{
                            margin-bottom: 0;
                        }
                        li:first-child,li:nth-child(2),li:last-child{
                            align-items: center;
                            &::before{
                                width: 28px;
                                height: 28px;
                                padding-right: 12px;
                                padding-left: 20px;
                            }
                        }
                        li:first-child{
                            background-color: $main-color;
                            &::before{
                                content: url('/img/index/feather.png');
                            }
                        }
                        li:nth-child(2){
                            &::before{
                                content: url('/img/index/eye.png');
                            }
                        }
                        li:last-child{
                            &::before{
                                content: url('/img/index/sun.png');
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:$screen-md-max) {
            &-row{
                flex-direction: column;
                &-element{
                    order: 3;
                    &__title{
                        
                        h2{
                            font-size: 30px;
                            line-height: 38px;
                        }
                    }
                }
                &-images,&-element{
                    margin: 0 auto;
                    max-width: 700px;
                }
                &-images{
                    order: 2;
                    margin-bottom: 180px;
                }
                margin-bottom: 90px;
            }
        }
        @media (min-width:$screen-lg){
            &-row{
                flex-direction: row;
                justify-content: space-between; 

                &-element{
                    padding-right: 15px;
                    h2{
                        font-size: 36px;
                        line-height: 56px;
                    }
                }
                margin-bottom: 289px;
            }  
        }

    }
}
//---  /help  ---//

//---  ramp  ---//
.ramp{
    background-color: $main-color;
    &-container{
        padding: 96px 0;
        margin-bottom: 121px;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 72px;
            .ramp-container-title{
                max-width: 720px;
                h2{
                    @include font-secondary;
                    font-size: 48px;
                    line-height: 72px;
                    color: #FFFFFF;
                }
                
            }
            .ramp-container-buttons{
                display: flex;
                .ramp__first-button{
                    padding-right: 28px;
                }
                .ramp__second-button{}
            }
        }
        &-row{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .ramp-container-item{
                background: #FFFFFF;
                box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
                border-radius: 12px;
                max-width: 350px;
                padding: 40px;
                display: inline-block;
                &__topic{
                    @include font-main;

                    max-width: 270px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 36px;
                    color: #000000;
                    padding-bottom: 40px;
                }
                &-autor{
                    max-height: 58px;
                    display: flex;
                    &__icon{
                        padding-right: 16px;
                    }
                    &__name{
                        @include font-main;
                        font-weight: 700;
                        font-size: 16px;
                        color: $main-color;
                        padding-bottom: 8px;
                    }
                    &__email{
                        @include font-main;
                        a{
                            text-decoration: none;
                            font-size: 14px;
                            color: $main-color;
                            &:visited{
                                color: $main-color;  
                            }
                        }

                    }
                }
            }
        }
        @media (min-width:$screen-lg) and (max-width:$screen-lg-max){
            &-row{
                .ramp-container-item{
                    padding: 20px;
                }
            }
        } 
        @media (max-width:$screen-md-max){
            .ramp-container-title{
                h2{
                    font-size: 30px;
                    line-height: 50px;
                    color: #FFFFFF;
                }
            }
            &-row{
                align-items: center;
                flex-direction: column;
                .ramp-container-item{
                    width: 80%;
                    margin-bottom: 20px;
                }

            }
        }
    }
}

//---  /ramp  ---//

//---  customers  ---//
.customers{
    &-container{
        margin-bottom: 160px;
        .customers-main-image{
            img{
                width: 100%;
            }
            padding-bottom: 56px;
        }
        .customers-row{
            display: flex;
            justify-content: space-between;
            &__title{
                max-width: 500px;

                @include font-secondary;
                font-size: 36px;
                line-height: 56px;
                color: #000000;
            }
            &__list{
                width: 500px;

                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include font-main;
                    font-size: 20px;
                    line-height: 32px;
                    color: #000000;
                    list-style: none;
                    border-bottom: 1px solid #C4C4C4;
                    padding-bottom: 16px;
                    margin-bottom: 32px;
                }
                li::after{
                    content: url('/img/index/Group\ 215.png');
                    max-height: 28px;
                }
            }
        }
    }
    @media (max-width:$screen-md-max){
        .customers-row{
            margin: 0 auto;
            flex-direction: column;
            width: 90%;
            &__title{
                max-width: 100%;
                padding-bottom: 30px;
            }
            &__list{
                width: 100%;
            }
        }
    }

}

//---  /customers  ---//

//--- news  ---//
.news{
    &-container{
        .news-title,.news-subtitle{
            text-align: center;
            max-width: 842px;
            margin: 0 auto;
        }
     .news-title{
        @include font-main;
        font-size: 20px;
        line-height: 32px;
        color: #777777;
     }
     .news-subtitle{
        @include font-secondary;
        font-size: 48px;
        line-height: 72px;
        color: #000000;
        padding-bottom: 80px;
     }
     .news-article{
        &-row{
             
            display: flex;
            justify-content: space-between;
            padding-bottom: 85px;
                &-item{
                    max-width: 300px;
                    display: flex;
                    flex-direction: column;
                     
                    .news-article-row__category-and-date{
                        padding-top: 24px;
                        padding-bottom: 12px;
                    }
                    .news-article-row__text{
                        flex: 1 0 auto;
                        @include font-main;
                        font-size: 20px;
                        line-height: 32px;
                        color: #000000;
                        padding-bottom: 20px;
                         
                    }
                    .news-article-row__autor{
                        display: flex;
                        align-items: center;
                        flex: 0 1;
                        &__autor-image{
                            img{
                                display: block;
                            }
 
                        }
                        .news-article-row__autor-name{
                            padding-left: 12px;
                        }
                    }
                }
            }
            &-button{
                @include font-main;
 
                width: 220px;
                height: 60px;
                border: 2px solid $main-color;
                border-radius: 56px;
                margin: 0 auto;
 
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                color: $main-color;
                margin-bottom: 125px;
                a{
                    &:visited{
                        color:$main-color;
                    }
                    display: flex;
                    text-decoration: none;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
 
                }
 
            }
        }
        @media (max-width:$screen-md-max){
            .news-article{
                &-row{
                    
                    flex-direction: column;
                    align-items: center;
                    &-item{
                        max-width: 300px;
                        margin:0 auto;
                        padding-bottom: 70px;
                        .news-article-row__text{
                            word-wrap: break-word;
                        }
                        &-image{
                            img{
                                width: 100%;
                            }
                        }
                    }
                    padding-bottom: 70px;
                }
            }
            
        }
        @media (min-width:$screen-lg-max){
            &-row{
                padding-bottom: 185px;
            }
        }
    }
}
//--- /news  ---// 
 
//--- template  ---// 
.template{
    &-container{
        background: $main-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        position: relative;
        z-index: 8;

        &-image{
             img{
                 overflow: hidden;
                 border-radius: 0 12px 0 0;
             }
             position: absolute;
             right: 0;
             top: 0;
             z-index: 9;
        }
            &-title{
                @include font-secondary;
                position: relative;
                z-index: 11;
                color: #F1F1F1;
                margin: 0 auto;
                text-align: center;
            }
         &-form{
            position: relative;
            z-index: 10;

            .form{
            display: flex;
            max-width: 52%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            &__email{
                    input{
                        @include font-main;
                        font-size: 20px;
                        line-height: 32px;
                        color: #000000;
                        height: 60px;
                        width: 370px;
                        background: #FFFFFF;
                        border: 2px solid #FFFFFF;
                        border-radius: 240px;
                        text-indent: 32px
                    }
                }
            &__button{
                    button{
                        @include font-main;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
    
                        color: $main-color;
                        height: 60px;
                        width: 210px;
                        background: #65E4A3;
                        border: 2px solid #65E4A3;
                        border-radius: 56px;
                        cursor: pointer;
                    }
                    
                }
                


            }
        }
    }
    @media(max-width:$screen-md-max){
        .template-container{
            margin-bottom: 150px;
            padding-bottom: 35px;

            .template-container-title{
                    padding-top: 50px;
                    font-size: 38px;
                    line-height: 52px;
                    max-width: 80%;
                    padding-bottom: 20px;
                }
            
            .form{

                display: flex;
                flex-direction: column;
                input{
                    margin-bottom: 10px;
                    &::placeholder{
                        text-indent: 0;
                        text-align: center;
                    }
                }
            }
                        
        }

    } 
    @media(min-width:$screen-lg){
        .template-container{
            margin-bottom: 185px;
            padding-bottom: 75px;

            .template-container-title{
                padding-top: 72px;
                font-size: 48px;
                line-height: 72px;
                max-width: 60%;
                padding-bottom: 50px;
            }
        }
    }
}
 //--- /template  ---// 
 
 //---  footer  ---//
 .footer{
    &-container{
     &-row{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         .footer-container-info{
             width: 25%;
             &__logo{
                 padding-bottom: 40px;
                 position: relative;
                 &-image{
                     .image-top{
                         position: absolute;
                         
                         top: 0px;
                     }   
                     .image-bottom{
                         position: absolute;
                         
                         top: 15px;
                     }
                 }
                 &-text{
                     @include font-secondary;
 
                     padding-left: 36px;
                     font-weight: 700;
                     font-size: 43.25px;
                     line-height: 34px;
                     color: #0A2640;
                 }
             }
 
             &__social,
             &__rights{
                 @include font-main;
                 font-style: normal;
                 font-weight: 400;
                 font-size: 16px;
                 line-height: 28px;
                 color: #777777;
                 max-width: 300px;
             }
             &__social{
                 padding-bottom: 64px;
             }
             &__rights{
                 
             }
         }
         .footer-container-nav{
             display: flex;
             justify-content: space-between;
             width: 55%;
             &__item{
                 width: 165px;
                 &-title{
                     @include font-main;
                     font-weight: 700;
                     font-size: 20px;
                     line-height: 32px;
                     color: #000000;
                     padding-bottom: 58px;
                 }
                 &-nav{
                     li{
                         padding-bottom: 50px;
                         list-style: none;
                         .hiring{
                             margin-left: 10px;
                             display: inline-block;
                             text-align: center;
                             width: 72px;
                             height: 30px;
                             background: #65E4A3;
                             border-radius: 120px;
                             
                             @include font-main;
                             font-weight: 700;
                             font-size: 13px;
                             line-height: 30px;
                             color: $main-color;
                             
                         }
                         
                         a{
                            text-decoration:none;
                            &:visited{
                                color: #777777;
                            }
                         }
                         @include font-main;
                         font-size: 20px;
                         line-height: 32px;
                         color: #777777;
                     }
                     li:last-of-type{
                         padding-bottom:0;
                     }
                 }
                     
             }
         }
     }
  }
  padding-bottom: 120px;
 }
 
 //---  /footer  ---//