//---  box  ---//
.box {
    background-color: $main-color;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &-container {
        .box-circle {
            position: absolute;
            width: 1294px;
            height: 1294px;
            border-radius: 100%;
            background-color: #1c3d5b;
            right: -600px;
            top: -760px;
            z-index: 2;
            opacity: 0.6;
        }
        .header {
            position: relative;
            z-index: 3;
            height: 42px;
            padding-top: 56px;
            padding-bottom: 64px;
            &-row {
                display: flex;
                justify-content: space-between;

                .header-logo {
                    display: flex;
                    align-items: center;
                    &__text {
                        @include font-secondary;

                        padding-left: 12px;
                        font-weight: 700;
                        font-size: 43.25px;
                        line-height: 34px;
                        color: #ffffff;
                    }
                }
                .header-navigation {
                    ul {
                        display: flex;
                        align-items: center;
                        a {
                            @include font-main;

                            display: block;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 28px;
                            color: #ffffff;
                            text-decoration: none;
                            &:visited {
                                color: #ffffff;
                            }
                        }
                        li {
                            list-style: none;
                        }
                        li + li {
                            padding-left: 40px;
                        }
                    }
                    .log-in {
                        display: flex;
                        width: 128px;
                        height: 40px;
                        background: #ffffff;
                        border: 2px solid #ffffff;
                        border-radius: 24px;
                        padding: 0;
                        justify-content: center;
                        align-items: center;
                        color: $main-color;
                    }
                }
            }
        }
        .boldo {
            &-row {
                position: relative;
                z-index: 4;
                display: flex;
                &-building {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &__title {
                        h1 {
                            @include font-secondary;
                            color: #ffffff;
                        }
                    }
                    &__text {
                        @include font-main;
                        color: #f1f1f1;
                    }
                    &__buttons {
                        display: flex;
                        a {
                            text-decoration: none;
                        }
                        .button-template {
                            @include font-secondary;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-weight: 700;
                            color: $main-color;
                            background: #65e4a3;
                            border: 2px solid #69e6a6;
                            border-radius: 56px;
                            a:visited {
                                color: $main-color;
                            }
                        }
                        .button-explore {
                            @include font-main;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-size: 20px;
                            line-height: 28px;

                            width: 187px;
                            height: 60px;

                            font-weight: 700;
                            margin-left: 24px;
                            color: #ffffff;
                            border: 2px solid #ffffff;
                            border-radius: 56px;
                            a:visited {
                                color: #ffffff;
                            }
                        }
                    }
                }
                &-grafics {
                    .boldo__first-grafic {
                        width: 100%;
                        padding-bottom: 26px;
                    }
                    .grafics-row {
                        display: flex;
                        justify-content: space-between;
                        .boldo__second-grafic {
                            max-width: 38%;
                        }
                        .boldo__third-grafic {
                            max-width: 52%;
                            margin-left: 40px;
                        }
                    }
                }
            }

            &-image {
                max-width: 1173px;
                margin: 0 auto;
                padding-bottom: 64px;
                img {
                    width: 100%;
                }
            }

            @media (max-width: $screen-md-max) {
                .boldo-row {
                    margin: 0 auto;
                    max-width: 70%;
                    flex-direction: column;
                    .boldo-row-building {
                        text-align: center;
                        width: 100%;

                        .boldo-row-building__title {
                            h1 {
                                font-size: 40px;
                                line-height: 40px;
                            }
                            padding-bottom: 16px;
                        }
                        .boldo-row-building__text {
                            font-size: 20px;
                            line-height: 28px;
                            padding-bottom: 30px;
                        }
                        .boldo-row-building__buttons {
                            justify-content: center;
                            padding-bottom: 40px;
                            .button-template {
                                width: 200px;
                                height: 50px;
                                font-size: 18px;
                                line-height: 22px;
                            }
                            .button-explore {
                                font-size: 18px;
                                line-height: 22px;
                                width: 150px;
                                height: 50px;
                            }
                        }
                    }
                    .boldo-row-grafics {
                        max-width: 70%;
                        margin: 0 auto;
                    }
                }
            }
            @media (min-width: $screen-lg) {
                .boldo-row {
                    justify-content: space-between;
                    padding-bottom: 56px;
                    .boldo-row-building,
                    .boldo-row-grafics {
                        max-width: 48%;
                    }
                    .boldo-row-building__title {
                        h1 {
                            font-size: 48px;
                            line-height: 60px;
                        }
                        padding-bottom: 16px;
                    }
                    .boldo-row-building__text {
                        font-size: 16px;
                        line-height: 28px;
                        padding-bottom: 40px;
                    }
                    .boldo-row-building__buttons {
                        .button-template {
                            width: 247px;
                            height: 60px;
                            font-size: 20px;
                            line-height: 28px;
                        }
                        .button-explore {
                            font-size: 20px;
                            line-height: 28px;
                            width: 187px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}
//---  /box  ---//{
