//---  service  ---//
.service {
    &-container {
        &-title {
            padding-top: 82px;
            margin: 0 auto;
            padding-bottom: 80px;
            text-align: center;
            max-width: 842px;
            &__service {
                @include font-main;
                font-size: 20px;
                line-height: 32px;
                color: #777777;
                padding-bottom: 12px;
            }
            &__text {
                h2 {
                    @include font-secondary;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 72px;
                    color: #000000;
                }
            }
        }
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 185px;
            &__item {
                max-width: 300px;
                &-image {
                    padding-bottom: 24px;
                }
                &-title {
                    @include font-main;

                    font-size: 24px;
                    line-height: 36px;
                    color: #000000;
                    padding-bottom: 12px;
                }
                &-subtitle {
                    @include font-main;
                    font-size: 20px;
                    line-height: 32px;
                    color: #777777;
                    padding-bottom: 28px;
                }
                &-link {
                    @include font-main;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 36px;
                    display: inline-block;
                    padding-bottom: 8px;
                    border-bottom: 1px solid $main-color;
                    .expole-page {
                        span {
                            padding-left: 12px;
                            img {
                                display: block;
                            }
                        }
                        display: flex;
                        align-items: center;
                    }
                    a {
                        color: $main-color;
                        text-decoration: none;
                        a:visited {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $screen-md-max) {
        .service-container-row {
            flex-direction: column;
            &__item {
                max-width: 100%;
                margin: 0 auto;
                padding-bottom: 70px;
                text-align: center;
                &-image {
                    img {
                        width: 100%;
                    }
                }
            }
            padding-bottom: 70px;
        }
    }
    @media (min-width: $screen-xl) {
    }
}
//---  /service  ---//
