*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    li{
     list-style: none;           
    }
}

//---  mixins  ---//
@mixin font-main{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin font-secondary{
    font-family:'Manrope', 'Helvetica Neue', sans-serif;
}
//---  /mixins  ---//
$main-color:#0A2640;






//---  common  ---//
.container{
    max-width: 1200px;
    margin:0 auto;
}
.category-and-date{
    @include font-main;
        .category{
            padding-right:12px; 
            font-weight: 700;
            color:$main-color;
        }
        .data{
            color: #777777;
        }
   }
.autor-name{
    @include font-main;
    font-size: 16px;
    line-height: 28px;
}

//---  /common  ---//
   
//---  header  ---//
.header{
    padding-top: 60px;
}
.section-header{
    margin-bottom: 72.5px;
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        display: flex;
        .image-top{
            position: absolute;
            top:8px;
            left: 0;
            background:$main-color;
            border-radius: 0px 12.0139px 12.0139px 0px;
        }
        .image-bottom{
            position: absolute;
            top: 25px;
            left: 0px;
            background: $main-color;
            border-radius: 0px 12.0139px 12.0139px 0px;
        }
        &-text{
            @include font-secondary;
            padding-left: 37.17px;
            color: $main-color;
            font-weight: 400;
            font-size: 64px;
            line-height: 84px;
        } 
    }
    &__nav{
        .header-links{
            display: block;
            cursor: pointer;
        }
        ul{
            display: flex;
            align-items: center;
                li{
                    @include font-main;
                    color:$main-color;
                    font-size: 16px;
                }
                li + li{
                    padding-left: 40px;
                }
                li:not(:last-child){
                    font-weight: 600;
                    line-height: 28px;

                    display: flex;
                    align-items: center;
                }
                li:last-child{
                    border: 2px solid $main-color;
                    padding: 0;
                    text-align: center;
                    border-radius: 24px;
                    width: 128px;
                    font-weight: 700;
                    line-height: 24px;
                    margin-left: 40px;
                    display: block;
                }
                a{
                    color: $main-color;
                    text-decoration: none;
                    &:visited{
                        color: $main-color; 
                    }
                }
        }
    }
}
//---  /header  ---//

//--- blog  ---//
.blog{
    text-align: center;
    margin-bottom: 72px;
    &-container{
        .blog-thoughts{
            font-weight: 400;
            color: $main-color;
            text-align: center;
            font-style: normal;
            &__title{
                @include font-main;

                font-size: 20px;
                line-height: 32px;
                padding-bottom: 12px;
            }
            &__text{
                @include font-secondary;

                font-size: 64px;
                line-height: 84px;
                padding-bottom: 68px;
            }
        }
        .blog-thoughts-row{
            display: flex;
            flex-basis: 550px;
            justify-content: space-between;
            &--image{

            }
            &--push{
                flex-basis: 550px;
                text-align: left;
                .blog-thoughts--push__category-and-date,
                .blog-thoughts--push__autor{
                    @include font-main;

                    font-style: normal;
                    font-size: 16px;
                    line-height: 28px;
                }

                .blog-thoughts--push__category-and-date{
                    padding-top: 70px;
                    display: inline-block;
                    padding-bottom: 12px;

                }
                .blog-thoughts--push__text{
                    @include font-secondary;

                    font-size: 48px;
                    line-height: 72px;
                    color: #000000;
                    padding-bottom: 20px;
                }
                .blog-thoughts--push__autor{
                    @include font-main;

                    display: flex;
                    color: #000000;
                    align-items: center;
                    .blog-thoughts--push__autor-image{
                        img{display: block;}
                        padding-right: 12px;
                    }

                }
            }
        }
    }
}
//--- /blog  ---// 

//--- news  ---//
.news{
   &-container{
    padding-top: 115px;
    border-top: 1px solid $main-color;
    .news-title{
        @include font-secondary;
        font-size: 48px;
        line-height: 72px;
        color: #000000;
        padding-bottom: 60px;
    }
    .news-article{
        &-row{
            
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 16px;

                &-item{
                    max-width: 301px;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 80px;
                    
                    .news-article-row__category-and-date{
                        padding-top: 24px;
                        padding-bottom: 12px;
                    }
                    .news-article-row__text{
                        flex: 1 0 auto;
                        @include font-main;
                        font-size: 20px;
                        line-height: 32px;
                        color: #000000;
                        padding-bottom: 20px;
                        
                    }
                    .news-article-row__autor{
                        display: flex;
                        align-items: center;
                        flex: 0 1;
                        &__autor-image{
                            img{
                                display: block;
                            }

                        }
                        .news-article-row__autor-name{
                            padding-left: 12px;
                        }
                    }
                }
            }
            &-button{
                @include font-main;

                width: 220px;
                height: 60px;
                border: 2px solid #0A2640;
                border-radius: 56px;
                margin: 0 auto;

                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                color: $main-color;
                margin-bottom: 125px;
                a{
                    &:visited{
                        color:$main-color;
                    }
                    display: flex;
                    text-decoration: none;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                }

            }
        }
    }
}
//--- /news  ---// 

//--- template  ---// 
.template{
    &-container{
        background: $main-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        position: relative;
        z-index: 8;
        margin-bottom: 185px;
        &-image{
            img{
                overflow: hidden;
                border-radius: 0 12px 0 0;
            }
            position: absolute;
            right: 0;
            top: 0;
            z-index: 9;
        }
        &-title{
            @include font-secondary;

            position: relative;
            z-index: 11;
            
            padding-top: 72px;
            font-size: 48px;
            line-height: 72px;
            margin: 0 auto;
            color: #FFFFFF;
            max-width: 60%;
            text-align: center;
            padding-bottom: 50px;
        }
        &-form{
            position: relative;
            z-index: 10;

            .form{
                display: flex;
                max-width: 50%;
                margin: 0 auto;
                justify-content: space-between;
                padding-bottom: 75px;
                &__email{
                    input{
                        @include font-main;
                        font-size: 20px;
                        line-height: 32px;
                        color: #000000;
                        height: 60px;
                        width: 370px;
                        background: #FFFFFF;
                        border: 2px solid #FFFFFF;
                        border-radius: 240px;
                        text-indent: 32px
                    }
                }
                &__button{
                    button{
                        @include font-main;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
    
                        color: $main-color;
                        height: 60px;
                        width: 210px;
                        background: #65E4A3;
                        border: 2px solid #65E4A3;
                        border-radius: 56px;
                        cursor: pointer;
                    }
                    
                }
            }
            
        }
    }
}
//--- /template  ---// 

//---  footer  ---//
.footer{
   &-container{
    &-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer-container-info{
            width: 25%;
            &__logo{
                padding-bottom: 40px;
                position: relative;
                &-image{
                    .image-top{
                        position: absolute;
                        
                        top: 0px;
                    }   
                    .image-bottom{
                        position: absolute;
                        
                        top: 15px;
                    }
                }
                &-text{
                    @include font-secondary;

                    padding-left: 36px;
                    font-weight: 700;
                    font-size: 43.25px;
                    line-height: 34px;
                    color: #0A2640;
                }
            }

            &__social,
            &__rights{
                @include font-main;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #777777;
                max-width: 300px;
            }
            &__social{
                padding-bottom: 64px;
            }
            &__rights{
                
            }
        }
        .footer-container-nav{
            display: flex;
            justify-content: space-between;
            width: 55%;
            &__item{
                width: 165px;
                &-title{
                    @include font-main;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 32px;
                    color: #000000;
                    padding-bottom: 58px;
                }
                &-nav{
                    li{
                        padding-bottom: 50px;
                        .hiring{
                            margin-left: 10px;
                            display: inline-block;
                            text-align: center;
                            width: 72px;
                            height: 30px;
                            background: #65E4A3;
                            border-radius: 120px;
                            
                            @include font-main;
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 30px;
                            color: $main-color;
                            
                        }
                        
                        a{
                            text-decoration: none;
                            &:visited{
                                color: #777777;
                            }
                        }
                        @include font-main;
                        font-size: 20px;
                        line-height: 32px;
                        color: #777777;
                    }
                    li:last-of-type{
                        padding-bottom:0;
                    }
                }
                    
            }
        }
    }
 }
 padding-bottom: 120px;
}

//---  /footer  ---//