* {
	padding: 0;
	margin: 0;
}
* div {
	margin: 0;
	padding: 0;
}

.section-inner {
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.category-and-date {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.category-and-date .category {
	padding-right: 12px;
	font-weight: 700;
	color: #0a2640;
}
.category-and-date .data {
	color: #777777;
}

.autor-name {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 28px;
}
