//---  connect  ---//
.connect-container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 224px;
}
.connect-container-row-images {
    position: relative;
    margin: 0 auto;

    .image-man {
        width: 494px;
        height: 506px;
    }
    .image-man-grafic {
        width: 251px;
        height: 388px;
        position: absolute;
        right: 87px;
        top: 190px;
    }
}
.connect-container-row-element {
    max-width: 494px;
}
.connect-container-row-element__title {
    h2 {
        @include font-main;
        font-weight: 400;
        color: #000000;
        font-size: 36px;
        line-height: 56px;
    }
    padding-bottom: 40px;
}
.connect-container-row-element__points {
    @include font-main;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    ul {
        li + li {
            padding-top: 24px;
        }
        li:last-of-type {
            padding-bottom: 56px;
        }
        li {
            display: flex;
            align-items: center;
            list-style: none;
        }
        li::before {
            content: "";
            background: url("/src/img/index/galochka.svg");
            background-repeat: no-repeat;
            height: 36px;
            padding-right: 63px;
        }
    }
}
.connect-container-row-element__button {
    width: 210px;
    height: 60px;

    a {
        @include font-main;

        background: $main-color;
        border: 2px solid $main-color;
        border-radius: 56px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #ffffff;

        &:visited {
            color: #ffffff;
        }
    }
    .start-now {
        &:hover {
            background-color: #65e4a3;
            color: $main-color;
            transition: 0.3s ease;
        }
        &:active {
            transform: translateY(3px);
        }
        transition: 0.3s ease;
    }
}
@media (max-width: 1070px) {
    .connect-container-row {
        flex-direction: column;
        margin-bottom: 170px;
    }
    .connect-container-row-images {
        margin-bottom: 110px;
    }
    .connect-container-row-element {
        max-width: 80%;
        .connect-container-row-element__button {
            margin: 0 auto;
        }
    }
}
@media (max-width: 782px) {
    .connect-container-row {
        margin-bottom: 120px;
    }
    .connect-container-row-element__title h2 {
        font-size: 30px;
        line-height: 50px;
    }
    .connect-first__image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 70%;
    }
    .connect-second-image {
        max-width: 100%;
        width: 50%;
        right: 70px;
        top: 130px;
    }
}
@media (max-width: 600px) {
    .connect-container-row-element {
        width: 100%;
    }
    .connect-container-row-element__title h2 {
        font-size: 25px;
        line-height: 40px;
    }
    .connect-container-row-element__points ul li {
        font-size: 16px;
        line-height: 25px;
    }
    .connect-container-row-element__points ul li::before {
        height: 22px;
        background-size: 22px 22px;
        object-fit: cover;
        padding-right: 40px;
    }
}
@media (max-width: 475px) {
    .connect-container-row-element__title h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .connect-first__image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    .connect-second-image {
        max-width: 100%;
        width: 70%;
        right: 0px;
        top: 130px;
    }
    .connect-container-row-element__button {
        height: 50px;
        width: 170px;
    }
}

//---  /connect  ---//
