//--- news  ---//
.news {
    &-container {
        padding-top: 115px;
        border-top: 1px solid $main-color;
        img {
            max-width: 300px;
            width: 100%;
        }
        .news-title {
            @include font-secondary;
            font-size: 48px;
            line-height: 72px;
            color: #000000;
            padding-bottom: 60px;
        }
        .news-article {
            &-row {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-bottom: 16px;

                &-item {
                    max-width: 301px;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 80px;

                    .news-article-row__category-and-date {
                        padding-top: 24px;
                        padding-bottom: 12px;
                    }
                    .news-article-row__text {
                        flex: 1 0 auto;
                        @include font-main;
                        font-size: 20px;
                        line-height: 32px;
                        color: #000000;
                        padding-bottom: 20px;
                    }
                    .news-article-row__autor {
                        display: flex;
                        align-items: center;
                        flex: 0 1;
                        &__autor-image {
                            img {
                                display: block;
                            }
                        }
                        .news-article-row__autor-name {
                            padding-left: 12px;
                        }
                    }
                }
            }
            &-button {
                @include font-main;

                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                color: $main-color;
                margin-bottom: 125px;
                width: 220px;
                height: 60px;
                margin: 0 auto;
                a {
                    transition: 0.3s ease;
                    border: 2px solid #0a2640;
                    border-radius: 56px;

                    &:visited {
                        color: $main-color;
                    }
                    display: flex;
                    text-decoration: none;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                    &:active {
                        transform: translateY(3px);
                    }
                }
            }
        }
    }
    @media (max-width: 942px) {
        .news-title {
            text-align: center;
        }
        .news-article-row {
            justify-content: space-around;
        }
    }
    .news-article-button {
        margin-bottom: 125px;
    }
}
//--- /news  ---//
